<h1>New Post</h1>
<form action="/posts" method="post">
  Enter title<input type="text" name="title"><br><br>
  Enter content <input type="text" name="content"><br><br>
  <button type="submit">Create Post</button>
</form>